footer {
  padding: 100px 0;
  background: url("../images/footer_bg.avif");
  min-height: 40vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(150, 148, 148, 0.568);
  .container {
    .row {
      justify-content: center;
      .site-info {
        border-radius: 14px;
        padding: 30px 10px;
        background: rgba(104, 104, 104, 0.479);
        backdrop-filter: blur(3px);
        transition: 0.6s;

        cursor: pointer;
        box-shadow: 0 0 20px 1px transparent, inset 0 0 5px 1px transparent;

        &:hover {
          box-shadow: 0 0 20px 1px #ddbea9, inset 0 0 5px 1px #ddbea9;
          background: rgba(117, 110, 101, 0.479);
        }
        h1 {
          @extend %ubuntu400;
          color: #fff;
          text-shadow: 3px 3px 2px #e07a5f;
          font-size: 6rem;
          transition: 0.4s;
          &:hover {
            text-shadow: -3px 3px 2px #e07a5f;
          }
        }
        h2 {
          @extend %ubuntu400;
          color: #f1faee;
          font-size: 3rem;
        }
      }
      .contact-info {
        margin-left: 10px;
        border-radius: 14px;
        padding: 30px 40px 30px 10px;
        background: rgba(104, 104, 104, 0.479);
        backdrop-filter: blur(3px);
        transition: 0.6s;
        cursor: pointer;
        box-shadow: 0 0 20px 1px transparent, inset 0 0 5px 1px transparent;
        &:hover {
          box-shadow: 0 0 20px 1px #ddbea9, inset 0 0 5px 1px #ddbea9;
          background: rgba(117, 110, 101, 0.479);
        }
        h1 {
          @extend %nunito300i;
          color: #fff;
          font-size: 1.5rem;
          margin: 20px 0;
        }
      }
    }
  }
}

@mixin footer--s() {
  footer {
    .container {
      .row {
        flex-direction: column;
        .site-info {
          h1 {
            font-size: 4rem;
          }
          h2 {
            font-size: 1.3rem;
          }
        }
        .contact-info {
          margin-left: 0;
          margin-top: 10px;
          h1 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@mixin footer--md() {
  footer {
    .container {
      .row {
        flex-direction: row;
        .site-info {
          h1 {
            font-size: 5rem;
          }
          h2 {
            font-size: 3rem;
          }
        }
        .contact-info {
          margin-left: 10px;
          margin-top: 0;
          h1 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
